
html, body, div, span, applet, object, iframe,
blockquote, pre, h5,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, li, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style */

a{
    text-decoration: none;
}
body{
    background-image: url(../img/pattern.jpg);
}
header{
   width: 100%; 
   background-color: white;
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
}
.navbar .cf {
    margin: 20px;
    float: left;
    list-style: none;

}
.cf :before,
.cf :after{
    content: "";
    display: table;
}

.cf :after{
    clear: both;
}

/* section */
section {
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 22px;
}
h1{
    font-size: 28px;
    text-align: center;
    margin-bottom: 80px;
}
h3 {
    margin-bottom: 50px;
}
div {
    margin-top: 50px;
    border-bottom: 3px solid lightgrey;
}

/* footer */
footer {
    width: 100%;
    height: 3em;
    background-color: black;
    position: fixed;
    bottom: 0;
}
h5 {
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 3em;
}

/* About */
.body {
    background-image: none;
}
.about-list{
    margin: 10px;
    border: 1px solid lightgrey;
    padding: 28px;
    padding-left: 60px;
}
.about-list ol li{
    font-size: 16px ;
    line-height: 18px;
}

.button{
    border: none;
    margin-left: 10px;
}

/* contact */

.container {
    margin: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 1px solid lightgrey;
}
.contact, .comment-form, .label, .input {
    border: none;
}
table{
    width: 600px;
}