* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: sans-serif;
}
nav {
  padding: 5px 20px;
  display: flex;
}
nav a {
  color: black;
}

nav.dark {
  background: #222;
}

nav.dark a {
  color: white;
}

nav.light {
  background-color: #e8edf8;
}
nav.light a{
  color: black;
}

ul {
  margin: auto;
  text-decoration: gray;
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #004ffa ;
  }


ul li {
  font-size: 14px;
  padding: 15px 10px;
  width: auto;
  float: left;
  margin: 0 24px;
  text-decoration: none;

}