* {
  font-family: Arial, Helvetica, sans-serif
}
h1{
  text-align: center;
  margin-top: 20px;
}
.container{
  width: 100%;
  margin: auto;
}
table {
  float: left;
  margin: auto;
  border-collapse: collapse;
  margin: 25px 0;
  margin-left: 20px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
  
table thead tr {
  background-color: #004ffa;
  color: #ffffff;
  text-align: center;
  font-weight: bold;

}
  
table th,
table td {
  padding: 12px 15px;
}
  
table tbody tr {
  border-bottom: 1px solid #dddddd;
}

form{
  text-align: center;
  width: 30%;
  margin-top: 20px;
  margin-left: 100px;
  float: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: 5px 5px 0 0;
  font-size: 0.9em;
}

button {
  width: 80px;
  height: 30px;
  margin: 0 10px;
}

.btn {
  margin: 20px;
}

.add {
  width: 120px;
  height: 30px;
  margin: 40px;
}
.add a, .btn-edit a {
  color: black;
}

.Tugas15 {
  width: 70%;
  margin: auto;
}
.btn-Delete{
  margin-left: 10px;
  background-color: tomato;
  border: none;
  border-radius: 5px;
}
.btn-Edit{
  border: none;
  border-radius: 5px;
}
.btn-Edit:hover{
  background-color: lightskyblue;
}
.btn-Delete:hover{
  background-color: red;
}
.alert{
  width: 30%;
  margin: auto;
}

.btn-add{
  margin: auto;
  width: 200px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  float: right;
  margin-right: 200px;
}

div h1 {
  margin-top: 50px;
  font-weight: bolder;
}