.card {
    width: 450px;
    text-align: center;
    margin: auto;
    margin-top: 34px;
    padding-bottom: 16px;
    box-shadow:0 30px 40px lightgray;
  }
  .title {
    margin: 10px 28px;
    text-align: left;
    border-bottom: 2px solid lightgray;
  }
  .form{
    border-bottom: 1px solid lightgray;
  }
  
  .checkbox{
    height: 20px;
    width: 20px;
    margin: 10px;
    vertical-align: middle;
  }
  
  .title h1{
    color: lightgray;
  }
  
  .main {
    margin: 10px 20px;
    text-align: left;
    font-size: 18px;
  }
  
  .send{
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }
  .submit{
    color: white;
    border: none;
    background-color: #05c4ff;
    width: 90%;
    height: 40px;
    margin: auto;
    text-shadow: none;
  }
  
  .submit:active{
    background-color: red;
  }
  