footer {
    width: 100%;
    height: 40px;
    background-color: rgb(15, 15, 15);
    position: static;
    bottom: 0;
}
footer h5{
    color: white;
    line-height: 40px;
    text-align: center;
}
.divider{
  font-size: 28px;
  font-weight: bold;
  color: white;
}
.logo {
    width: 150px;
    background-color: white;
    float: left;
    margin: 10px;
    margin-left: 0px;
}
  
.site-layout-background {
    background: #fff;
    min-height: 600px;
}
.form-login{
    width: 30%;
    margin: auto;
    margin-top: 100px;
    padding: 24px;
    border-radius: 16px;
    background-color: white ;
}
.login-form {
    max-width: 600px;
  }
.form-register{
  width: 50%;
  margin: auto;
  margin-top: 100px;
  padding: 24px;
  border-radius: 16px;
  background-color: white ;
}
.header-form {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(45, 45, 45);
}
.bg-register, .bg-login{
  margin: 0px;
  border: 1px solid black;
  height: 600px;
  width: 100%;
  background: rgb(4,1,55);
  background: linear-gradient(329deg, rgba(4,1,55,1) 0%, rgba(9,9,121,1) 33%, rgba(6,179,214,1) 100%);
}

.login-form-forgot {
    float: right;
  }
.ant-col-rtl .login-form-forgot {
    float: left;
  }
.login-form-button {
    width: 100%;
  }
.home{
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  min-height: 600px;
  background: rgb(4,1,55);
  background: linear-gradient(329deg, rgba(4,1,55,1) 0%, rgba(9,9,121,1) 33%, rgba(6,179,214,1) 100%);
}
.card-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 10px;
}
.btn-Edit{
  width: 50px;
  height: 30px;
  margin: 10px;
  border-style: none;
  border-radius: 6px;
}
.btn-Edit:hover{
  background-color: rgb(52, 210, 250) ;
}

.btn-Edit:active{
  background-color: blue;
}
.btn-Delete{
  width: 50px;
  height: 30px;
  margin: 10px;
  border-style: none;
  border-radius: 6px;
}
.btn-Delete:hover{
  background-color: tomato ;
}

.btn-Delete:active{
  background-color: red;
}
.detail{
  width: 90%;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}
.detail-game{
  width: 90%;
  padding: 20px;
  margin: 40px;
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}
.description {
  padding: 10px;
  max-width: 500px;
}
.description h1 {
  font-size: 26px;
}
.game-form{
  width: 90%;
  margin: 30px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 2px 10px 30px -5px lightgray;
}
.game-form h1{
  font-size: 26px;
}
.checkbox{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.check-btn{
  width: 26px;
  height: 26px;
}
.form-btn{
  margin: 10px;
}
.table-list{
  margin: 50px;
  padding: 40px;
  box-shadow: 2px 10px 30px 0 lightgray;
}
.table-list .table{
margin-top: 20px;
}
.table-list h1{
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  color: rgb(46, 46, 46);
}
.table-list h2{
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(46, 46, 46);
}
.add  {
  margin: 30px;
  float: left;
}
.search{
  margin: 30px;
  float: right;
  width: 250px;
}
.filter{
border-radius: 10px;
box-shadow: 0px 0px 10px 0 lightgray;
}

.input-filter{
  width: 210px;
  margin: 20px;
}

.reset-filter{
  width: 70px;
  margin: 10px;
}
